/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(#f9d423, #e2a139);
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content-container {
  background-color: #ffffff;
  border-radius: 8px;
  width: 55%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.count {
  margin-left: 30px;
}
.icon {
  height: 250px;
  width: 250px;
}
